@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cookie&display=swap');

body{
  background: linear-gradient(to right, rgb(175,238,238), rgb(230,230,250))
}

.formulario{
  display: block;
  block-size: 199px;
}

legend{
  font-size: 28px;
  font-family: 'Cookie', cursive;
}