* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(#ffd9f4, #bd3a91);
    height: 110vh;
}

header h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-principal ul {
    display: flex;
    text-align: center;
}

.menu-principal ul li {
    list-style: none;
    flex-grow: 3;
    background-color: #e66daf;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px, 5px, 4px rgba(0, 0, 25);
}

.menu-principal ul li a {
    text-decoration: none;
}

.logo-milkshake{
    width: 100px;
    height: 100px;

}


section {
    height: 70%;
}

.rodape
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 3;
    margin: 0%;
}
.menu-principal{
    color: rgb(255, 255, 255);
}