@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body{
  background: linear-gradient(to right, rgb(255, 135, 245), rgb(253, 255, 150))
}

legend{
  font-size: 33px;
  font-family: 'Signika', sans-serif;
}

input { 
  background-color: #fefefe; 
  font: 18px verdana, arial, helvetica, sans-serif;
  color:#ff28f8;
  border:2px solid #ff78f4;
  }

.botao{
  background-color: #ff87df;
  font-family: 'Lobster Two', cursive;
  color: #CCFFFF;
  }

#area{
  position:relative;
  left:37%;
  top:30%;
  width:400px;
  height:300px;
}

fieldset{
  margin-top: 300px;
  background-color: #fefefe;
  width: 600px;
  height: 300px;
}

label{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 30px;

}