*{
    margin: 0%;
    border: 0ch;
}

body{
    background-color: #F9DB79;
}

.cabeçalho{
    display:flex;

}

.menu_principal{
    display: flex;

}

.conteudo_prinpial{
    display: flex;

}

.botão{
    color: aqua;

}